header {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar a {
  display: inline-block;
  padding: 10px;
  background-color: grey;
  text-decoration: none;
  color: white;
}

#featured-property p {
  width: 800px;
  margin: 20px auto;
  text-align: center;
}

#details div {
  float: left;
}

.bottom-divs {
  display: flex;
  justify-content: space-between;
}

.bottom-divs div {
  width: 25%;
  background-color: #ff0000;
  text-align: center;
}

.caption {
  font-size: 14px;
  text-align: center;
}

.navbar {
  text-align: center;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}
